body{
    background-color:dimgray;
    font-family: "Arial Narrow";
    font-size: 14px;
    width: 100%;
    min-width: 50%;
    max-width: 100%;
}
.container_main{
    width: 99%;
    min-width: 50%;
    height: auto;
    border: 2px solid white;
    
}
section{
    width: 50%;
    min-width: 50%;
    height: 290px;
    border: 3px solid white;
    margin:0 auto;
    margin-top:10%;
    margin-bottom: 10%;
    background-color: cornflowerblue;
    box-shadow:14px 12px 5px black;
}
section form{
    background-color: crimson;
    width: 80%;
    min-width:50%;
    height: 200px;
    border:10px solid black;
    margin: 0 auto;
    margin-top:5%;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    white-space: pre-line;
    box-shadow:4px 3px 3px white;
}

#v_user_css{
    display: inline-block;
    width: 95%;
    height: 30px;
    font-size: 1.5em; 
    margin-left:1.5%;
    text-align: center;
    background-image:url("../img/user.png");
    background-repeat: no-repeat;
}
#v_pass_css{
    display: inline-block;
    width: 95%;
    height: 30px;
    font-size: 1.5em; 
    margin-left:1.5%;
    text-align: center;
    background-image:url("../img/pass.png");
    background-repeat: no-repeat;
}

#btne{
    width: 98%;
    font-size:18px;
    margin-left:1%;
    border:2px solid black;
    box-shadow: 8px 4px 8px solid black;
}
#btne:hover{
    background-color: #3f9039;
    color:white;
}
#btne:active{
    background-color: #343611;
}
footer{
    white-space: pre-wrap;
    font-size: 11px;
    color:white;
    text-align: center;
}
